:root {
   --bg-primary: #34d1bf;
   --bg-secondary: #d1345b;
   --bg-terceary: #3454d1;
   --bg-white: #efefef;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.flex{
  display: flex;
  align-items: center;
}

/*********************
 * SECTION PRINCIPAL * 
*********************/

.principal {
  background-image: url(../img/rect853.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.around{
  justify-content: space-between;
}

.menu-icon{
  width: 140px;
  margin-left: 2em;
}

.idioma{
  font-size: 50px;
  margin-right: 1em;
  font-weight: 700;
  position: relative;
}

.menu-idioma{
  position: absolute;
  right: 0;
  top: 50px;
  padding-top: 10px;
  display: none;
}

.menu-idioma label{
  padding: 1rem;
}

.idioma:hover .menu-idioma{
  display: flex;
  flex-direction: column;
}

.arrow{
  width: 0.8em;
}

.fondo-translucido {
 /* background: black;
  opacity: 0.7;
  */
  background: rgba(0, 0, 0, 0.62);
  height: 15%;
  width: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.logo {
  font-size: 8em;
}

.subtext{
  font-size: 3em;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: 400;
}

/********************
 * SECTION NOSOTROS * 
*********************/

.aboutus{
  background-image: url(../img/fondo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 101vh;
  margin-top: -2px;
}

.justify-center{
  justify-content: center;
}

.infinity{
  height: 200px;
  margin-top: 2em;
}

.text-infinity{
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-bottom: 2em;
}

.color-text{
  color: #04A5E7 !important;
  font-weight: bold !important;
}

.col{
  flex-direction: column;
}

.texttitle{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
}

.margintitle{
  margin: 1em;
}

.adorno{
  width: 100px;
  left: 70px;
  top: 30px;
  position: relative;
}

.fondotext{
  background: rgba(0, 0, 0, 0.62);
  border-radius: 20px;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  padding: 2em;
  margin-bottom: 3em;
}

.textabout{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.textabout p {
  margin-bottom: 1em;
}

/********************
 * SECTION POSIBLE * 
*********************/

.posible{
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustracion{
  display: flex;
  justify-content: center;
}

.ilustracion-img{
  width: 80%;
}

.text-ilustracion{
  color: #13152F;
  font-size: 80px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

#posible{
  color: #12C2DD !important;
}

/********************
 * SECTION PROYECTOS * 
*********************/

.proyectos{
  background-color: #2F2E41;
  height: 100vh;
  display: flex;
  padding-top: 3em !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marginprojects{
  margin-top: 4em;
}

.imanes{
  position: relative;
  z-index: 1;
  width: 80%;
}

.project-1{
  background-color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 0.7em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 10px;
  position: relative;
  bottom: 160px;
  z-index: 0;
}

.project-1 *{
  color: black;
}

.caracteristica{
  font-family: 'Meera Inimai', sans-serif;  
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 3em;
  bottom: 2em;
  position: relative;
}

.cont-caract{
  height: 160px;
  display: flex;
  align-items: center;
}

.size{
  width: 100px;
  margin-right: 0.3em;
}
